.header
    background-color $red-one
    padding 10px
    text-align center

    .image
        height 100%
        margin-bottom 15px

    .title
        color $white
        font-weight bold
        set-font-size(30px)

    .description
        color $gray-three
