@import "jeet"
@import "rupture"
@import "nib"

// SETTINGS
@import "settings/typography"
@import "settings/global"
@import "settings/colors"

// TOOLS
@import "tools/font-size"
@import "tools/border-radius"

// GENERIC
@import "generic/reset"

// ELEMENTS
@import "elements/headings"
@import "elements/text"

// OBJECTS
@import "objects/container"

// COMPONENTS
@import "components/box"

// TRUMPS
@import "trumps/utilities"

// CORES DO GREEN BAY PACKERS
// #dadada ==> fundo cinza
// #ffc20e ==> amarelo queijo
// #2a433a ==> verde PACKERS
// #dddddd ==> fundo cinza 2
