.heading
    .title
        set-font-size(30px)
        font-weight bold

    .description
        set-font-size(24px)
        color $blue-one

    .sub-description
        set-font-size(20px)
        color $red-one
        font-weight bold
