.workflow-list
    col(10/12)
    padding-left 30px

    ul
        li
            list-style square
            margin-bottom 50px

            &:last-child
                margin-bottom 0

            p
                margin-top 15px
