// Colors

// WHITE GROUP
$white = #fff

// BLACK GROUP
$main-black = #000
$black-one = #202020

// YELLOW GROUP
$yellow-one = #ffcc33

// BLUE GROUP
$blue-one = #224192

// GRAY GROUP
$gray-one = #dadada
$gray-two = #dddddd
$gray-three = #ececec
$gray-four = #acacac
