header.header.heading
    img.image(src='img/gulp-stylus.png')
    h1.title Workflow simples, porém muito eficiente
    h2.description Automatizando seu workflow front-end com Gulp modularizado e Stylus
