doctype html

html(lang='pt-br')
    include ./_includes/head.pug

    body
        div.container
            include ./_includes/header.pug
            
            section.box
                include ./_includes/home.pug

        include ./_includes/footer.pug
